
@keyframes slideshow {
    0% {
        left: 0%;
    }

    15% {
        left: 0%;
    }

    20% {
        left: -100%;
    }

    35% {
        left: -100%;
    }

    40% {
        left: -200%;
    }

    55% {
        left: -200%;
    }

    60% {
        left: -300%;
    }

    80% {
        left: -300%;
    }

    85% {
        left: -400%;
    }
    
    95% {
        left: -400%;
    }
    
    100%{
        left: 0%;
    }
}


#slider {
    overflow: hidden;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
    margin-left: 15%;
    margin-right: 15%;
}

#slider figure img {
    width: 20%;
    float: left;
}

#slider figure {
    width: 500%;
    animation: 20s slideshow infinite;
    position: relative;
    margin: 0;
    
   /* position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: center;
    font-size: 0;
    animation: 30s slidy infinite;*/
}

#slidertwo {
    overflow: hidden;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 8;
    grid-row-end: 9;
    margin-left: 15%;
    margin-right: 15%;
}